<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" 
    rel="stylesheet">   
    <link rel="stylesheet" href="/static/comic.css">
    <title>{{ .Title }}</title>
    <script>
        function edit() {
            window.location.replace("/comic?id={{ .Id }}&edit=1");
        }
        function info() {
            window.location.replace("/comic?id={{ .Id }}");
        }
        function del() {
            window.location.replace("/del?id={{ .Id }}");
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar_custom">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="/feed">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                    </svg>
                    Comics
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/my">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16">
                                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                                <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
                            </svg>
                            Мои комиксы
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            Личный кабинет
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/upload">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                            Загрузить комикс
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/auth">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg>
                            Выйти
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="row justify-content-center">
    {{ if .IsMine }}
        {{ if .IsEdit }}
        <div></div>
        {{ else }}
        <h1 class="comic_title" id="infoTitle">{{ .Title }}</h1>
        {{ end }}
        <div class="d-flex flex-column row-cols-auto" style="margin-bottom: 20px; max-width: 800px; align-content: center">
            <div class="row justify-content-center" style="max-width: 800px;">
                <img style="margin-bottom: 15px; margin-top: 15px; max-width: 800px;" name="img" src="{{ .Img }}">
                <div class="container-sm" style="max-width: 800px;">
                    
                    {{ if .IsEdit }}
                    <form class="d-flex flex-column justify-content-center" id="editform" enctype="multipart/form-data" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Название</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{ .Title }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Описание</label>
                            <textarea class="form-control" id="description" name="description" rows="3">{{ .Description }}</textarea>
                        </div>
                        <div class="d-flex">
                            <div class="col-md-10">
                                <input class="form-control" type="file" name="myFile"/>
                            </div>
                            <div class="col-md-4" style="margin-left: 20px;">
                                <input class="btn btn-outline-success" type="submit" value="Сохранить"/>
                            </div>
                        </div>
                        <input class="btn btn-outline-secondary" id="editbtn" type="button" value="Назад" onclick="info()" style="margin: 30px;"/>
                    </form>
                    {{ else }}
                    <div class="d-flex flex-column justify-content-center" id="info">
                        <h3 class="date">{{ .Date }}</h3>
                        <textarea class="form-control" id="infoDescription" name="infoDescription" rows="3" readonly>{{ .Description }}</textarea>
                        <input class="btn btn-outline-secondary" id="editbtn" type="button" value="Изменить" onclick="edit()" style="margin-top: 30px;"/>
                        <!-- <input class="btn btn-outline-secondary" id="delbtn" type="button" value="Удалить" onclick="del()" style="margin-top: 30px;"/> -->
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ else }}
        <h1 class="comic_title" id="infoTitle">{{ .Title }}</h1>
        <div class="d-flex flex-column row-cols-auto" style="margin-bottom: 20px; max-width: 800px; align-content: center">
            <div class="row justify-content-center" style="max-width: 800px;">
                <img style="margin-bottom: 15px; margin-top: 15px; max-width: 800px;" src="{{ .Img }}">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="date">{{ .Date }}</h3>
                    <a class="author" href="">Автор: {{ .User }}</a>
                    <textarea class="form-control" id="infoDescription" name="infoDescription" rows="3" readonly>{{ .Description }}</textarea>
                </div>
            </div>
        </div>
    {{ end }}
    </div>
</body>
</html>