<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Auth</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/auth.css">
    </head>
    <body>
        <div class="row justify-content-center">
            <form class="form-horizontal" method="POST">
                <span class="heading">Регистрация</span>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Имя пользователя" value="{{ .Name }}">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group">
                    <input type="login" class="form-control" id="login" name="login" placeholder="Логин" value="{{ .Login }}">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="password_rep" name="password_rep" placeholder="Повторите пароль">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="row justify-content-between">
                    <button type="submit" class="col btn btn-outline-success" style="max-width: 200px; margin-left: 50px;">Зарегистрироваться</button>
                    <button class="col btn btn-info" type="button" onclick="window.location.replace('/auth');" style="max-width: 200px; margin-right: 50px;">Вход</button>
                </div>
                {{if .Failed}}
                <a>{{ .ErrorMsg }}</a>
                {{else}}
                
                {{end}}
            </form>
        </div>
    </body>
</html>